@import url(http://weloveiconfonts.com/api/?family=entypo);

/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color;
    min-height: 56px;
    margin-bottom: 55px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    color: #4A4E4E;
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-decoration: none;
    transition:1s;
}

a:hover { color:#8C9595; }

.site-nav {
    font-size: 26px;
    float: right;
    line-height: 56px;
    .menu-icon {
        display: none;
}

    .page-link {
    text-decoration: none;
    transition:1s;
    color: #4A4E4E;
    line-height: $base-line-height;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
    
    a:hover { color:#8C9595; }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }


@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */

 #topbar { 
 	font-size: 14px;
 	width: 100%;
 }

 #topbar h1 { text-align: left; margin: auto; font-size: 30px; }
 #topbar h2 { margin-top: -10px; font-size: 21px; }

 #restitle {
 	margin-bottom: 15px;
 }

 #spacer {
 	background-color: #ddd;
	padding: 2px;
	height: 1px;
	display: inline-block;
	border-radius: 25px;
	width: 25px;
 }

 #restitle h2 { margin: auto; font-size: 35px; color: #4A4E4E; }
 #restitle p {  text-align: left; margin: auto; font-size: 25px; }

 #job {
  margin-bottom: 15px;
 }

 #job p { text-align: left; margin: auto; }
 #job h2 { font-size: 25px; min-width: 500px; color: #6C7070; }
 #job h3 { font-weight: bold; font-size: 18px; display: inline; color: #6C7070; white-space: nowrap; }
 #job span { float: right; font-size: 25px; color: #6C7070; }


.page-heading {
   font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

#body {
   padding-bottom:60px;   /* Height of the footer */
}


/* SOCIAL LINKS */

@font-face {
    font-family: 'si';
    src: url('../icon/socicon.eot');
    src: url('../icon/socicon.eot?#iefix') format('embedded-opentype'),
         url('../icon/socicon.woff') format('woff'),
         url('../icon/socicon.ttf') format('truetype'),
         url('../icon/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(PATH_TO/socicon.svg) format(svg);
    }
}

#liskills {
  margin-left: 35px;
  margin-bottom: 15px;
}

.soc {
    overflow:show;
    list-style:none;
	white-space: nowrap;
	background: #424242;
	height: 1px;
	width: 335px;
}

.soc ul {
	height: 50px;
	line-height: -55px;
  list-style:none;
	float: left;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

@import url('http://weloveiconfonts.com/api/?family=entypo');

#para{
text-align: center;
font-size: 14px;
min-width: 500px;
white-space: nowrap; 
display: inline;
}

#underline {
background-color: #000;
height: 2px;
width: 130px;
margin-top: 15px;
margin-left: auto;
margin-right: auto;
}


/** SOCIAL **/

.facebook {
  display: inline-block;
	background-image: url("http://i57.tinypic.com/30ws4fo.png");
  text-indent: -9999px;
	height: 30px;
	width: 30px;
	margin: 5px;
	transition: all ease 0.3s;
}
.facebook:hover {
	background-position: 0px -30px;
}

.google {
  display: inline-block;
	background-image: url("http://i61.tinypic.com/15z31tx.png");
	height: 30px;
	width: 30px;
	margin: 5px;
	transition: all ease 0.3s;
  text-indent: -9999px;
}

.google:hover {
	background-position: 0px -30px;
	}
	
.linkedin {
  display: inline-block;
	background-image: url("http://oi57.tinypic.com/9va6nb.jpg");
	height: 30px;
	width: 30px;
	margin: 5px;
	transition: all ease 0.3s;
  text-indent: -9999px;
}

.linkedin:hover {
	background-position: 0px -30px;
}

.socialcon {  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.socialcon li {
  white-space: nowrap;
  overflow: hidden;
  display: inline;
  margin: 2px;
  list-style-type: none;
}

.socialcon a {
   line-height: 0; 
   font-size: 0;
   color: transparent; 
}

#liskills
{
  font-size: 22px;
}

#liskills li
{
  margin-left: 20px;
}